                                                                                                                                         موقع شخصي بطابع ألعاب الفيديو

مطالب تصميم موقع شخصي يحمل طابع ألعاب الفيديو أو رسومات ال (pixels) مع مراعاة وجود الخصائص التالية :

1- أن يكون الموقع متجاوب مع جميع أحجام العرض أوالشاشات 

2- أن يتمتع الموقع ببعض الرسوم التي تجذب لنظر وتسهل التعامل مع الموقع من منظور المستخدم

3- وجود خاصية لتغيير نمط الموقع الى النمط المظلم (dark mode)

______________________________________________________________________________________________________________________________________

خلفية عن الموقع وأصحاب الموقع:

الموقع مخصص لعرض أعمال صناع محتوى  وكتاب في المجال السنيمائي وهو فريق عمل مكون من كتاب ومصورين ومحررين فيديو يجب أن يعرف الموقع خدمات هذا الفريق مع توضيح نبذة عنهم وعن بعض أعمالهم السابقة مع كيفية التواصل معهم